@charset "utf-8";

/* font */
@font-face {
    font-family: 'KoPubDotumMedium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


/* reset */
* {margin: 0; padding: 0;}
body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,
table,tr,th,td,
form,fieldset,legend,input,label,textarea,select,button,
header,footer,main,nav,aside,section,article,
a,span,strong,em,b,i,address{
    margin:0; 
    padding:0; 
    box-sizing:border-box;
}
html{font-size:0.625em;} /* 10px */
body,h1,h2,h3,h4,h5,h6,button {
    font-family: 'Nunito Sans', 'KoPubDotumMedium', sans-serif;
    line-height:1;
    color:#222;
}
a{text-decoration:none;}
ul,ol,li{list-style:none;}
img{border:none; vertical-align:middle; max-width: 100%;}
strong,em,i,b,address{
    font-style:normal;
    font-weight:normal;
}
button{
    border:none;
    background-color:transparent;
    cursor:pointer;
}

